
body{
    margin-top: 20px;
}
.arrange{
    display: flex;
    justify-content: space-around;
}
.look{
    background-color: rgb(250, 249, 249);
}
.small-txt{
    margin-top: -20px;
}
.nav-pills> a.active {
    background-color: gray!important;
}
.nav-pills>a{
    text-decoration: none;
    color: black;
} 
.style{
    color: blue;
}


